@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Righteous', cursive;
  text-align: center;
  /* border: 1px solid black; */
}

body {
  background-image: url("./components/photos/background.jpg");
  background-color: #cccccc; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 100%;
}

.wrapper {
  margin: 2% 10%;
  padding: 1% 0%;
  background-color: #059033;
  border-radius: 20px;
  opacity: 85%;
}

.header {
  padding-bottom: 1%;
  margin-bottom: 2%;
  border-bottom: 1px solid black;
}

.logo  {
  margin: 0% 3%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid black;
  border-style: none none solid none;
}

.logo img {
  width: 20%;
}

h1 {
  font-weight: bold;
}

.thcHelp {
  display: flex;
  align-items: center;
}

.helpH2 {
  font-size: 225%;
  width: 50%;
  font-weight: bold;
}

.homeWrapper {
  display: flex;
  margin: 0% 3%;
}

.homeLeft {
  width: 35%;
  padding: 0% 1%;
}

.homeUser {
  border: 1px solid black;
  border-radius: 15px;
}

.rec {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;

}

.yourRec {
  font-size: 150%;
  border: 1px solid black;
  border-style: solid none solid none;
}

.wrapper .tab-content .active{
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
}



.quest {
  width: 100%;
}

.nav-tabs {
  display: flex;
  justify-content: center;
}
